<h1 class="page-header">Locations</h1>

<table class="table table-striped table-bordered table-hover dataTable no-footer" >
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Lat</th>
      <th>Lng</th>
      <th>Last geocoded at</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
    <tr>
      <td><%= location.name %></td>
      <td><%= location.address %></td>
      <td><%= location.lat %></td>
      <td><%= location.lng %></td>
      <td><%= location.last_geocoded_at %></td>
      <td><%= location.status %></td>
      <td><%= link_to 'Show', [:admin, location] %></td>
      <td><%= link_to 'Edit', edit_admin_location_path(location) %></td>
      <td><%= link_to 'Destroy', [:admin, location], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Location', new_admin_location_path %>