<h1><%= @location.name %></h1>

<div>
  <div id="map" style='height: 500px;'></div>
</div>


<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @location.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @location.lng %>
</p>

<p>
  <strong>Elevation:</strong>
  <%= @location.elevation %>
</p>

<p>
  <strong>Last geocoded at:</strong>
  <%= @location.last_geocoded_at %>
</p>

<p>
  <strong>Description:</strong>
  <%= @location.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @location.status %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @location.comments %>
</p>

<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>

<script>
handler = Gmaps.build('Google');
handler.buildMap({  
  provider: {
    zoom: 16,
    center: new google.maps.LatLng(<%= @location.lat %>, <%= @location.lng %>)
  }, 
  internal: {id: 'map'}
  }, function(){
  markers = handler.addMarkers([
    {
      "lat": <%= @location.lat %>,
      "lng": <%= @location.lng %>,
      "infowindow": "<%= @location.name %><br><%= @location.address %>",
    }
  ]);
  handler.bounds.extendWith(markers);
  
  // JR: with a single marker we don't need to fitMapToBounds, else it zooms in fully
  //handler.fitMapToBounds();
});
</script>

<%= link_to 'Edit', edit_admin_location_path(@location) %> |
<%= link_to 'Back', admin_locations_path %>
