<h1><%= @location.name %></h1>

<p>
  <strong>Address:</strong>
  <%= @location.address %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @location.lat %>
</p>

<p>
  <strong>Lng:</strong>
  <%= @location.lng %>
</p>

<p>
  <strong>Last geocoded at:</strong>
  <%= @location.last_geocoded_at %>
</p>

<p>
  <strong>Description:</strong>
  <%= @location.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @location.status %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @location.comments %>
</p>

<%= link_to 'Edit', edit_admin_location_path(@location) %> |
<%= link_to 'Back', admin_locations_path %>
