<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <title>Pointing Admin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="wrapper">

    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
      <div class="navbar-header">

        <!-- menu button for mobile sizes -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <!-- logo -->
        <%= link_to root_url, class: 'navbar-brand' do %> <i class="logo-arrow fa fa-location-arrow fa-2x"></i>
          Pointing &nbsp;Administration
        <% end %>

      </div><!-- end navbar-header -->

      <!-- top navbar menus -->
      <%= render 'shared/user_menu' if user_signed_in? %>

      <!-- primary navigation sidebar -->
      <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
          <%= render_navigation(:level =>1..2, :expand_all => true) %>
        </div>
      </div>

    </nav>

    <%= yield -%>

  </div>
</body>
</html>